@import "scss/fontawesome.scss";
@import "scss/solid.scss";

$main-color: #7DB8AB;
$secondary-color: #C4E1DA;
$main-font:'Open Sans', sans-serif;
body {
    background-color: white;
}

.wrapColor {
    background-color: whitesmoke;
    min-height: 980px;
}

.green {
    background-color: #a2c0be;
    margin-top: 30px;
}

.gray {
    background-color: #333333;
    min-height: 440px;
    margin-top: 30px;
}

.wrap {
    width: 1080px;
    height: auto;
    margin: 0 auto;
    min-height: 80px;
}

#navBar {
    display: block;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
    min-height: 80px;
    overflow: hidden;
    margin-bottom: 80px;
    h1 {
        float: left;
        font-size: 40px;
        font-weight: 300;
        font-family: monospace;
        margin-top: 20px;
    }
    li {
        float: right;
        display: inline-block;
        margin: 5px 12px;
        vertical-align: middle;
        box-sizing: border-box;
        margin-top: 10px;
        margin-top: 30px;
    }
    a {
        color: dimgray;
        font-size: 18px;
        text-decoration: none;
        padding: 5px;
        font-weight: 300;
        font-family: $main-font;
    }
    a:hover {
        color: black;
    }
}

.wrapContainer {
    min-height: 820px;
    margin-top: 100px;
    width: 1080px;
    margin: 0 auto;
}

.header {
    opacity: 0;
    transition: opacity .5s .25s ease-out;
}

.header.is-visible-bottom-top {
    opacity: 1;
}

.mainPhoto {
    transform: scale(.8);
    transition: transform 4s .35s cubic-bezier(0.5, 1, 0.5, 1);
    will-change: transform;
}

.is-visible-bottom-top .mainPhoto {
    transform: none;
}

.imghover:hover {
    box-shadow: 10px 10px $main-color;
    transition: box-shadow 1s;
}

.imghover1:hover {
    box-shadow: 10px 10px #262626;
    transition: box-shadow 1s;
}

.containerText {
    float: left;
    width: 540px;
    margin-top: 240px;
    text-decoration: none;
    text-align: left;
    line-height: 1.4;
    font-weight: lighter;
    letter-spacing: 150%;
    font-family: $main-font;
    h1 {
        font-weight: 600;
        font-size: 60;
    }
    h2 {
        font-size: 20px;
    }
}

.containerImage {
    float: left;
    width: 440px;
    margin-top: 100px;
    margin-left: 100px;
}

.wrapTextMain {
    width: 600px
}

.wrapMain {
    min-height: 800px;
    margin-top: 100px;
}

.textMain {
    text-align: center;
    margin-bottom: 20px;
    font-family: $main-font;
    h1 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    p {
        line-height: 1.7;
        color: gray;
        font-weight: 400;
        font-size: 16px;
    }
}

.cardRow {
    height: 360px;
    margin-bottom: 30px;
}

.cardText {
    width: 420px;
    height: 210px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 120px;
    font-family: $main-font;
    float: left;
    h1 {
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 10px;
        text-align: right;
    }
    p {
        line-height: 1.7;
        color: gray;
        font-weight: 400;
        font-size: 16px;
        text-align: right;
        margin-bottom: 20px;
    }
}

.right {
    margin-right: 0px;
    margin-left: 120px;
    h1 {
        text-align: left;
    }
    p {
        text-align: left;
    }
}

.buttonMain {
    background-color: $main-color;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    font-family: $main-font;
    float: right;
    width: 140px;
}

.buttonMain:hover {
    background-color: black;
}

.cardImg {
    width: 540px;
    height: 360px;
    float: left;
}

.iconMain {
    margin-top: 80px;
    font-size: 30px;
    color: $main-color;
    margin-left: 10px;
    margin-right: 10px;
}

.iconSecondary {
    margin-top: 80px;
    font-size: 16px;
    color: $secondary-color;
}

.iconleft {
    transform: rotate(330deg);
}

.iconright {
    transform: rotate(30deg);
}

.containerLeft {
    width: 460px;
    margin-right: 80px;
    float: left;
}

.containerRight {
    width: 540px;
    float: left;
}

.positionLeft {
    text-align: left;
    h2 {
        line-height: 1.7;
        color: gray;
        font-weight: 200;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

.iconSmall {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 10px;
    color: $secondary-color;
    font-weight: 200;
}

.containerTrainers {
    width: 340px;
    height: 700px;
    float: left;
}

.textTrainers {
    width: 320px;
    margin-left: 20px;
    font-family: $main-font;
    margin-top: 40px;
    h1 {
        color: #405a58;
        font-weight: 400;
        font-size: 26px;
    }
    p {
        line-height: 1.8;
        color: #567876;
        font-weight: 300;
        font-size: 16px;
        margin-top: 30px;
    }
}

.btnTrainers {
    float: left;
    width: 110px;
    padding: 8px;
    margin-top: 30;
}

.containerPricing {
    width: 360px;
    height: 600px;
    float: left;
    background-color: #a2c0be;
}

.containerPricingType2 {
    background-color: #343a40;
}

.containerPricingText {
    height: 400px;
    width: 260px;
    margin: 50px;
    color: white;
    font-family: $main-font;
    h1 {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 40px;
        margin-bottom: 40px;
        font-weight: 500;
        text-align: center;
    }
    span {
        font-size: 16px;
        font-weight: 200;
    }
    p {
        font-size: 16px;
        text-align: left;
        font-weight: 200;
        padding-left: 35px;
        margin-bottom: 25px;
        margin-top: -20px;
        line-height: 1.5;
    }
}

.btnPricing {
    text-align: center;
    margin-top: 40px;
    margin-left: 60px;
    padding: 10px 30px;
    float: left;
}

.btnPricingclr {
    background-color: #6c757d;
}

.btnPricingclr:hover {
    background-color: #343a40;
}

.spanIcon {
    color: black;
    font-family: 'Open Sans', sans-serif;
    padding-left: 45px;
    display: block;
    margin-top: -20px;
}

.collapseCollapse {
    width: 440px;
    height: 160px;
    display: none;
}

.collapse-text {
    width: 395px;
    height: 130px;
    padding-left: 45px;
    padding-bottom: 30px;
    padding-top: 20px;
    p {
        font-size: 16px;
        line-height: 1.7;
        color: gray;
        font-family: $main-font;
    }
}

.collapsible {
    text-decoration: none;
    cursor: pointer;
}

.collapsible:active {
    color: $main-color;
}

.animation-bottom-top {
    opacity: 0;
    transform: translateY(4em);
    transition: transform 3s .25s cubic-bezier(0.5, 1, 0.5, 1),
    opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.animation-delay1 {
    opacity: 0;
    transform: translateY(6em);
    transition: transform 3s .25s cubic-bezier(0.5, 1, 0.5, 1),
    opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.animation-delay2 {
    opacity: 0;
    transform: translateY(8em);
    transition: transform 3s .25s cubic-bezier(0.5, 1, 0.5, 1),
    opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.is-visible-bottom-top {
    opacity: 1;
    transform: translateY(0em);
}

.animation-right-left {
    opacity: 0;
    transform: translateX(10em);
    transition: transform 2s .25s cubic-bezier(0, 1, 0.5, 1),
    opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.is-visible-right-left {
    opacity: 1;
    transform: translateX(0em);
}

.animation-left-right {
    opacity: 0;
    transform: translateX(-10em);
    transition: transform 2s .25s cubic-bezier(0, 1, 0.5, 1),
    opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.is-visible-left-right {
    opacity: 1;
    transform: translateX(0em);
}

.rowImg {
    width: 100%;
    height: 320px;
    float: left;
}

.imgBlock {
    width: 25%;
    height: 320px;
    float: left;
    transition: transform .2s;
}

.imgBlock:hover {
    transform: scale(1.3);
    box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.7);
}

.rowBlog {
    width: 100%;
    height: 260px;
    margin-bottom: 20px;
    float: left;
}

.blockBlog {
    width: 50%;
    height: 260px;
    float: left;
}

.imgBlog {
    width: 200px;
    height: 120px;
    float: left;
}

.blockBlogText {
    width: 320px;
    height: auto;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    a {
        text-decoration: none;
    }
    h1 {
        color: black;
        font-family: $main-font;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    h1:hover {
        color: $main-color;
    }
    h2 {
        color: #b3b3b3;
        margin-bottom: 20px;
        line-height: 1.7;
        font-weight: 400;
        font-size: 14px;
        font-family: $main-font;
    }
    h3 {
        color: $main-color;
        font-family: $main-font;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    h3:hover {
        color: mediumaquamarine;
    }
    p {
        line-height: 1.7;
        color: gray;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 20px;
        font-family: $main-font;
    }
}

.rowServices {
    width: 100%;
    height: 260px;
    float: left;
    margin-bottom: 10px;
    float: left;
}

.blockServices {
    width: 29.33%;
    margin-left: 2%;
    margin-right: 2%;
    height: 260px;
    float: left;
    h1 {
        color: black;
        font-family: $main-font;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    p {
        line-height: 1.7;
        color: gray;
        font-weight: 400;
        font-size: 16px;
        font-family: $main-font;
    }
}

.contactForm {
    width: 50%;
    height: 750px;
    float: left;
    background-color: $secondary-color;
}

.contactInner {
    padding: 50px;
    h1 {
        text-transform: uppercase;
        font-weight: 900;
        color: white;
        margin-bottom: 30px;
        font-family: $main-font;
        font-size: 40px;
        line-height: 1.2;
        text-align: center;
    }
    h2 {
        color: #405a58;
        font-family: $main-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.7;
    }
    h3 {
        color: #405a58;
        font-family: $main-font;
        font-size: 26px;
        margin-bottom: 30px;
        font-weight: 500;
        line-height: 1.2;
    }
    h4 {
        font-weight: 400;
        color: white;
        opacity: 0.5;
        margin-bottom: 20px;
        font-family: $main-font;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
    }
    h5 {
        font-weight: 400;
        color: white;
        margin-bottom: 10px;
        font-family: $main-font;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
    }
}

.inputTextContainer {
    width: 48%;
    float: left;
}

.inputText {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 24px;
    resize: vertical;
}

.textareaText {
    width: 100%;
}

.btnForm {
    width: 180px;
    float: left;
    margin-top: 20px;
    background-color: #6c757d
}

.footerContainer {
    padding-top: 80px;
    height: 250px;
}

.footerBlock {
    width: 28%;
    height: 250px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    a {
        text-decoration: none;
    }
    h1 {
        font-weight: 400;
        color: white;
        margin-bottom: 10px;
        font-family: $main-font;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        padding-bottom: 10px;
    }
    p {
        line-height: 1.7;
        color: gray;
        font-weight: 400;
        font-size: 16px;
        font-family: $main-font;
        padding-bottom: 8px;
    }
}

.footerBlocksmall {
    width: 18%;
}

.inputFooter {
    width: 70%;
    color: white;
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
    float: left;
    border: solid white 0.5px;
    height: 45px;
    background-color: #333333;
}

.btnInput{
    width: 30%;
    float: left;
}
.btnFooter{
    border-radius: 0px;
    width: 100%;
    background-color: white;
    color: black;
    border: none;
    height: 45px;
    padding: 10px;
}
.btnFooter:hover{
    background-color: $main-color;
}
